@import "../variables";

.compare-overlay {
    position: fixed;
    right: 20px;
    text-align: center;
    transition: all 1.5s ease;
    padding: 2px;
    button {
        &:active, &:focus {
            outline: 0;
            border: 0;
        }
    }
    .spriteRow{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 80px;
        }
        .sprite-wrapper {
            margin-bottom: 15px;
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                bottom: -10px;
                height: 95px;
                z-index: -2;
                border: 5px solid rgba($secondary-color, 0.5);
                left: 35px;
            }
            &:first-child {
                &:before {
                    height: 50px;
                }
            }
            &:last-child {
                &:before {
                    height: 115px;
                    bottom: -30px;
                }
            }
        }
        svg {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    button {
        background: $primary-color-pastel;
        border: 0;
        color: $font-primary-color;
        font-weight: 500;
        border-radius: 50%;
        font-size: 1rem;
        padding: 30px 10px;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0 0 10px $primary-color-pastel;
        }
    }
}

.compare-hide{
    opacity: 0;
    bottom: -100%;
}

.compare-show{
    transition: all 1s ease;
    bottom: 10px;
    opacity: 1;
}

