@import "../variables";

.default-carousel {
    cursor: pointer;
    .slick-arrow {
        width: auto;
        height: auto;
        position: absolute;
        top: calc(50%);
        z-index: 2;
        &:before {
            content: '';
        }
        svg {
            fill: $primary-color-pastel;
            transition: transform 0.4s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .slick-prev {
        left: 25px;
    }
    .slick-next {
        right: 25px;
    }
    .slick-dots li.slick-active button:before {
        color: $primary-color-pastel;
    }
}
