@import "../variables";

.minicart {
    width: 100%;
    height: 100%;
    overflow: auto;
    max-width: 600px;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.4s ease;
    opacity: 0;
    background: $color-white;
    z-index: 100;
    padding: 20px;
    &.open {
        right: 0;
        opacity: 1;
    }
    .minicart-table {
        width: 100%;
        thead {
            tr {
                color: $font-secondary-color;
                font-size: 0.75rem;
                font-weight: 600;
                td {
                    padding-bottom: 10px;
                }
            }
            .table-head-quantity {
                text-align: center;
            }
            .table-head-price {
                text-align: center;
            }
            .table-head-close {
                width: 10%;
            }
        }
        tbody {
            tr {
                color: $font-secondary-color;
                font-size: 0.8rem;
            }
            .product-info {
                white-space: nowrap;
                overflow: auto;
                img {
                    max-width: 30%;
                    padding: 5px 0;
                }
            }
            .product-remove {
                text-align: center;
                svg {
                    border-radius: 50%;
                    border: 1px solid $font-secondary-color;
                    fill: $font-secondary-color;
                    cursor: pointer;
                }
            }
        }
    }
    .postal-code {
        color: $primary-color-pastel;
        cursor: pointer;
        svg {
            color: $font-secondary-color;
        }
    }
    .table-head-product {
        padding-left: 10px;
    }
    .empty-cart-message {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: $primary-color-pastel;
        font-weight: 500;
    }
    .cart-subtotal-row, .cart-shipping-row {
        border-bottom: 1px solid $primary-color-pastel;
    }
    .cart-subtotal, .cart-subtotal-value, .cart-shipping-text {
        padding-top: 10px;
        padding-left: 10px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    .shipping-input, .cart-shipping-button {
        margin: 10px 0;
        font-size: 0.7rem;
    }
    .shipping-input {
        width: 50%;
        margin-left: auto;
        @media (max-width: $breakpoint-mobile-max) {
            width: 100%;
        }
    }
    .minicart-table-product {
        border-top: 1px solid $primary-color-pastel;
        border-bottom: 1px solid $primary-color-pastel;
        .product-name {
            text-transform: capitalize;
            margin-left: 20px;
        }
        .product-quantity, .product-price {
            text-align: center;
        }
        .product-quantity {
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .remove-quantity-button, .add-quantity-button {
                user-select: none;
                transition: all 0.3s ease;
                &:hover {
                    color: $primary-color-pastel;
                    transform: scale(1.3);
                }
            }
            .quantity-text {
                user-select: none;
                display: inline;
                width: 12%;
                background-color: rgba($primary-color-pastel, 0.2);
                border-radius: 10%;
                text-align: center;
                border: 0;
                padding: 2px 10px;
                box-sizing: content-box;
                appearance: none;

            }
            .quantity-text::-webkit-outer-spin-button,
            .quantity-text::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .quantity-text[type=number] {
                -moz-appearance: textfield;
            }
            .add-quantity-button, .remove-quantity-button {
                cursor: pointer;
                padding: 5px;
                box-sizing: content-box;
            }
            .remove-quantity-button {
                margin-right: 10px;
            }
            .add-quantity-button {
                margin-left: 10px;
            }
        }
    }
    .cart-checkout-row {
        td {
            padding-top: 20px;
        }
    }
    .minicart-header {
        display: flex;
        align-items: baseline;
        padding: 10px 0;
        position: relative;
        margin-bottom: 15px;
        .minicart-header-icon {
            width: 25px;
            height: auto;
            fill: $primary-color-pastel;
            margin-right: 15px;
        }
        .minicart-header-title {
            font-size: 2rem;
            line-height: 2rem;
            color: $primary-color-pastel;
            font-weight: 600;
            margin-right: 20px;
        }
        .minicart-header-itemsCount {
            font-size: 0.7rem;
            align-self: center;
            line-height: 1.5rem;
            color: $font-secondary-color;
        }
        .minicart-header-close {
            fill: $font-secondary-color;
            cursor: pointer;
            width: 25px;
            padding: 5px;
            height: auto;
            position: absolute;
            right: 0;
            top: 10px;
            border: 1px solid $font-secondary-color;
            border-radius: 50%;
        }
    }
    .cart-shipping-button, .cart-checkout-button {
        background-color: $secondary-color;
        border-color: $secondary-color;
        &:focus, &:active, &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
            box-shadow: 0 0 5px $secondary-color;
        }
    }
    .cart-total-text {
        font-weight: 600;
        padding-left: 10px;
        color: $primary-color-pastel;
        font-size: 1.2rem;
    }
    .cart-checkout {
        text-align: right;
    }
    .cart-checkout-button {
        width: 100%;
        padding: 20px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9rem;
        background-color: $primary-color-pastel;
        border-color: $primary-color-pastel;
        &:focus, &:active, &:hover {
            background-color: $primary-color-pastel;
            border-color: $primary-color-pastel;
            box-shadow: 0 0 5px $primary-color-pastel;
        }
    }
}

.minicart-overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    opacity: 0;
    left: -100%;
    width: 0;
    height: 100%;
    background: $generic-overlay-background;
    transition: all 0.3s ease;
    &.open {
        width: 100%;
        left: 0;
        opacity: 1;
    }
}
