@import "../variables";

.footer {
    background-color: $background-color;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    padding-bottom: 15px;
    input {
        border: 0;
        &:focus {
            box-shadow: 0 0 10px $secondary-color;
        }
    }
    .newsletter {
        background-color: $primary-color-pastel;
        padding: 20px;
        .envelope-icon {
            width: auto;
            height: 75px;
            padding: 20px;
            border: 1px solid $font-primary-color-low-contrast;
            fill: $font-primary-color-low-contrast;
            border-radius: 50%;
            overflow: visible;
            margin-right: 10px;
        }
        button {
            background-color: $secondary-color;
            border: none;
            transition: all 0.4s ease;
            &:hover {
                background-color: rgba($secondary-color,0.8);
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($secondary-color,.5);
            }
            @media (max-width: $breakpoint-mobile-max) {
                font-size: 0.7rem;
            }
        }
    }
    .form-control {
        max-width: 45%;
        @media (max-width: $breakpoint-mobile-max) {
            font-size: 0.7rem;
        }
    }

    .newsletter-text-wrapper {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: $font-primary-color;
    }

    .footer-text {
        font-size: 0.6rem;
        text-align: center;
        margin-top: 15px;
    }
    #pokestoreLogo {
        width: auto;
        height: 40px;
        margin-right: 10px;
    }
    .store-brand {
        user-select: none;
        display: flex;
        align-items: center;
        .brand-name {
            color: $font-secondary-color;
            font-weight: 500;
            font-size: 1rem;
            text-align: center;
            text-transform: capitalize;
            &-themed {
                color: $primary-color-lighter;
                text-shadow: 0 0 5px $primary-color-darker;
            }
        }
    }

    .footer-section-title {
        display: block;
        font-weight: 500;
        color: $font-secondary-color;
        margin-bottom: 10px;
    }
    .payment-forms-wrapper, .social-media-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        svg {
            height: 50px;
            width: auto;
        }
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .social-media-wrapper {
        svg {
            height: 40px;
            cursor: pointer;
        }
    }
}
