@import "../variables";

.header {
    background-color: $primary-color-pastel;
    #header-tipbar {
        background-color: $secondary-color;
        span {
            display: block;
            text-align: center;
            color: $font-primary-color;
            line-height: 35px;
        }
        svg {
            fill: $font-primary-color;
            margin-right: 10px;
        }
    }
    #main-nav {
        .nav-link {
            font-size: 0.9rem;
            color: $font-primary-color;
        }
    }
    #pokestoreLogo {
        width: auto;
        height: 40px;
        margin-right: 10px;
    }
    .navbar-brand {
        color: $font-primary-color;
        display: flex;
        align-items: center;
        .brand-name {
            font-weight: 500;
            font-size: 1rem;
            text-align: center;
            &-themed {
                color: $primary-color-lighter;
                text-shadow: 0 0 5px $primary-color-darker;
            }
        }
    }

    .user-module-wrapper {
        cursor: pointer;
    }

    .user-module, .minicart-icon {
        width: 35px;
        height: auto;
        cursor: pointer;
        fill: $font-primary-color;
        transition: all 0.6s ease;
        &:hover {
            fill: $font-primary-color-low-contrast;
        }
    }

    .minicart-icon-wrapper {
        position: relative;
        &:after {
            content: attr(data-quantity);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $secondary-color;
            width: 18px;
            height: 18px;
            font-size: 0.6rem;
            position: absolute;
            top: -5px;
            right: -10px;

        }
    }

    .form-control:focus {
        outline: none;
        border-color: transparent;
        box-shadow: none;
    }

    .header-control-nav {
        color: $font-primary-color;
        font-size: 0.8rem;
        font-weight: 500;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
            transition: all 0.6s ease;
        }
        div:hover {
            color: $font-primary-color-low-contrast;
            svg {
                fill: $font-primary-color-low-contrast;
            }
        }
    }
}
