.catalog {
    margin-bottom: 10px;
    .catalog-header {
        margin: 20px;
    }
    label {
        width: 100%;
    }
    .catalog-select {
        width: 100%;
    }
    .catalog-select {
        text-transform: capitalize;
    }
    .catalog-results {
        display: flex;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        .productCard {
            margin: 10px 15px;
            max-height: 400px;
        }
    }
}
