.catalog {
    margin-bottom: 10px;
    .catalog-header {
        margin: 20px;
    }
    label {
        width: 100%;
    }
    .catalog-select {
        width: 100%;
    }
    .catalog-select {
        text-transform: capitalize;
    }
}
