@import "../variables";

.catalog {
    margin-bottom: 10px;
    .catalog-header {
        margin: 20px;
    }
    .empty-results {
        color: $primary-color-pastel;
        font-size: 1.5rem;
        margin-top: 100px;
        text-align: center;
        @media (max-width: $breakpoint-mobile-max) {
            margin: 20px 0;
        }
    }
    label {
        width: 100%;
        @media (max-width: $breakpoint-mobile-max) {
            font-size: 0.8rem;
        }
    }
    .catalog-select {
        width: 100%;
        text-transform: capitalize;
        @media (max-width: $breakpoint-mobile-max) {
            font-size: 0.8rem;
        }
    }
    .catalog-results {
        display: flex;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        .productCard {
            margin: 10px 15px;
            max-height: 400px;
        }
    }
    .mobile-filters-control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
        font-weight: 500;
        svg {
            fill: $primary-color-pastel;
            transition: all 0.4s ease;
            font-size: 1.5rem;
            border: 2px solid $primary-color-pastel;
            border-radius: 50%;
            margin-right: 8px;
        }
    }
    .rotate-arrow {
        transform: rotate(180deg);
    }
}
