// Cs

$primary-color: #CC0000;
$primary-color-lighter: #FF0000;
$primary-color-darker: #3b0101;
$primary-color-pastel: #C04C4B;
$primary-color-pastel-darker: #b34645;
$secondary-color: #3B4CCA;
$font-primary-color: #FFFFFF;
$font-primary-color-low-contrast: #cbcbcb;
$font-secondary-color: #464646;
$color-white: #FFFFFF;

// Fs
$primary-font: "Montserrat", sans-serif;
