// Cs

$primary-color: #00cb72;
$primary-color-lighter: #00ff92;
$primary-color-darker: #3b0101;
$primary-color-pastel: #58A181;
$primary-color-pastel-darker: #3a6c4c;
$secondary-color: #45796f;
$font-primary-color: #D3E6DE;
$font-primary-color-low-contrast: #cbcbcb;
$font-secondary-color: #807e7e;
$color-white: #FFFFFF;
$background-color: #1E1F1E;
$generic-overlay-background: rgba(black, 0.5);

// BPs
$breakpoint-mobile-max: 1023px;

// Fs
$primary-font: "Montserrat", sans-serif;
