// Cs

$primary-color: #d980a8;
$primary-color-lighter: #dea4bf;
$primary-color-darker: #3b0101;
$primary-color-pastel: #DB5C93;
$primary-color-pastel-darker: #a33f6c;
$secondary-color: #AD587E;
$font-primary-color: #FFFFFF;
$font-primary-color-low-contrast: #FFFFFF;
$font-secondary-color: #111111;
$color-white: #FFFFFF;
$background-color: #FFE0EE;
$generic-overlay-background: rgba(black, 0.5);

// BPs
$breakpoint-mobile-max: 1023px;

// Fs
$primary-font: "Montserrat", sans-serif;
