// Cs

$primary-color: #CC0000;
$primary-color-lighter: #BD83AC;
$primary-color-darker: #3b0101;
$primary-color-pastel: #58419C;
$primary-color-pastel-darker: #34275C;
$secondary-color: #34275C;
$font-primary-color: #FFFFFF;
$font-primary-color-low-contrast: #cbcbcb;
$font-secondary-color: #FFFFFF;
$color-white: #FFFFFF;
$background-color: #121212;
$generic-overlay-background: rgba(black, 0.5);

// BPs
$breakpoint-mobile-max: 1023px;

// Fs
$primary-font: "Montserrat", sans-serif;
