@import 'variables';
@import 'fonts';

html {
    color: $font-primary-color;
    font-size: 16px;
    * {
        &:focus {
            outline: none;
        }
    }
    body {
        font-family: Montserrat, sans-serif;
    }
}

#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 250px;
}

// SweetAlert2 overrides:
.swal2-icon {
    border-color: $primary-color-pastel !important;
    .swal2-x-mark {
        border-color: $primary-color-pastel !important;
    }
    span:not(.swal2-x-mark) {
        background-color: $primary-color-pastel !important;
    }
}

.swal2-confirm {
    background-color: $secondary-color;
}

.swal2-content, .swal2-title {
    color: $font-secondary-color;
}
