@import 'variables';
@import 'fonts';

html {
    color: $font-primary-color;
    font-size: 16px;
    * {
        &:focus {
            outline: none;
        }
    }
    body {
        font-family: Montserrat, sans-serif;
    }
}

#root {
    padding-bottom:60px;
}
